data/processed/merged_2023-02-01_2024-03-05.csv filter=lfs diff=lfs merge=lfs -text
data/processed/wrf_filtered_2019-06-19_2024-03-14.csv filter=lfs diff=lfs merge=lfs -text
data/raw/clipping_test/rgccs3h3h2405106.tif filter=lfs diff=lfs merge=lfs -text
